# Log in to OpenAI and access the following link to get your API Key https://platform.openai.com/account/api-keys
# Replace "xxx" with your API Key
# Rename file to ".env" and restart the application
PUBLIC_CHATGPT_API_KEY=xxx;