---
import Layout from '../layouts/Layout.astro';
import TextArea from '../components/TextArea.astro';
---

<Layout title='GPT-3 Chat with Natural Language.'>
  <main
    class='flex items-center justify-center flex-col w-full min-h-screen h-full'
  >
    <TextArea name='question' placeholder='Pergunta' />
    <button
      id='generare'
      class='bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded my-3 focus:outline-none focus:shadow-outline'
      >Enviar</button
    >

    <TextArea name='result' placeholder='Resultado' />
  </main>
</Layout>

<script src='/src/scripts/main.js'></script>
